<h1 style="text-align: center; margin-bottom: 50px;">Browse events</h1>

<div class="card-body">

  {{#each events }}
    <div class="event-card">
      <h2 style="text-align: center; margin-bottom: 20px;">{{eventName}}</h2>
      <img src="{{image}}" class="description-image" alt="" />
      <br>
      <br>
      <h5 style="text-align: center; margin-bottom: 20px;">Description: {{description}}</h5>
      <a style="display: block; text-align: center; margin: 0 auto; width: fit-content;" href="/events/{{_id}}">More Details</a>
    </div>
  {{/each}}

</div>

{{!-- <h1>Browse events</h1>

<div class="card-body">

  {{#each events }}
    <div class="event-card">
      <h2>{{eventName}}</h2>
      <br>
      <img src="{{image}}" class="description-image" alt="" />
      <br>
      <br>
      <h5>Description: {{description}}</h5>
      <a href="/events/{{_id}}">More Details</a>
    </div>
  {{/each}}

</div>

 --}}
