<h1>Here's more details about the Event</h1>


   
<h2>{{eventName}}</h2>
<img src="{{this.image}}" alt="Event Picture">
<h5>{{description}}</h5>
<h5>Type of Event: {{category}}</h5>
<h5>Price: {{price}}</h5>
<h5>Location: {{city}}</h5>
<img src="{{image}}" alt="">