
{{#if userInSession}}
  <h2>{{userInSession.email}}'s Trips</h2>

  <div class="trip-container">

    <div class="trip-card">
      <h2>Trip Name: {{this.tripName}}</h2>
      <h5>Description: {{this.description}}</h5>
      {{#each event}}
        <div class="event-card">
          <h2>Event:</h2>
          <h2>{{eventName}}</h2>
          <img src="{{image}}" alt="" />
          <h5>Description: {{description}}</h5>
        </div>
        <br />
      {{/each}}

<button> <a href="/user-profile">Back to My Trips</a></button>
    </div>

  </div>

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}
