<div class="my-trip-container">
  <div class="head-container">
  <h1>My Trips</h1>
</div>
  {{#if trips}}
<div class="trip-card-body">
    {{#each trips}}
    <div class="my-trip-card-container">
    
      <h3>{{this.tripName}}</h3>
      <h5><em>{{this.description}}</em></h5>
      <button class="btn trip-button"><a href="/trips/{{_id}}" class="btn">Trip Itinerary</a></button>
      <form id="delete-form" action="/trips/{{_id}}/delete" method="POST">
        <button class="btn trip-button">Delete Trip</button>
      </form>
    
      
         <img src="{{this.image}}" class="description-image-my-trips" alt="trip image" />
      
      </div>
  
    {{/each}}
    </div>
</div>
  {{else}}
    <h3>You have not created a trip yet.</h3>
    <button><a class="nav-link" href="/trips">Add Trip</a></button>

  {{/if}}

</div>